@import '../../../styles/variables.scss';

.button {
    .authorization__btn {
        position: relative;
        width: 193px;
        height: 46px;
        background: $blue;
        border-radius: 5px;
        border: 2px solid transparent;
        margin: 10px;
        font-size: 16px;
        font-weight: 700;
        color: $ultra-white;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
            background: transparent;
            color: $blue;
            transition: all 0.2s ease;
            border: 2px solid $blue;
        }
    }
    .forget__btn {
        width: 193px;
        height: 46px;
        background: transparent;
        border-radius: 5px;
        border: 1px solid $grey;
        text-decoration: none;
        margin: 10px;
        font-size: 16px;
        font-weight: 700;
        transition: all 0.2s ease;
        cursor: pointer;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: inherit;
            transition: all 0.2s ease;
            width: 100%;
            height: 100%;
        }
    }
    .eye {
        position: absolute;
        top: 227px;
        left: 462px;
        background: transparent;
        border: none;
        width: 16px;
        height: 16px;
        font-size: 14px;
        cursor: pointer;
    }
    .Xmark {
        position: absolute;
        right: 73px;
        top: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border: none;
        width: 14px;
        height: 22px;
        font-size: 14px;
        cursor: pointer;
    }
    .search {
        background: transparent;
        width: 70px;
        height: 70px;
        border-radius: 5px;
        margin-left: -2px;
        border: 2px solid $dark;
        cursor: pointer;
        svg {
            width: 25px;
            height: 25px;
        }
    }
    .donate {
        position: fixed;
        bottom: 2%;
        right: 2%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid $ultra-white;
        background: $blue;
        z-index: 999;
        a {
            display: flex;
            align-items: center;
            width: 60px;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
            color: $ultra-white;
        }
        
    }
}

@media (max-width: 575px) {
    .button {
        .search {
            width: 60px;
            height: 60px;
        }
        .Xmark {
            right: 63px;
        }
        .donate {
            width: 60px;
            height: 60px;
            a {
                width: 50px;
                font-size: 14px;
            }
        }
    }
}