@import '../../../styles/variables.scss';

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 300px;
  margin: 15px;
  background: $blue;
  border-radius: 5px;
  opacity: 1;
  .top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    p {
      font-size: 22px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  .bottom {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 100px;
    p {
      font-size: 18px;
    }
    .bold {
      font-weight: 700;
      text-align: center;
    }
  }
}

@media (max-width: 575px) {
  .weather {
    margin: 10px 0;
    justify-content: space-evenly;
    .top {
      height: 50%;
      margin-top: 0;
      flex-direction: column;
    }
    .bottom {
      margin-top: 0;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .wrap {
        margin: 10px;
      }
    }
  }
}