.title {
  margin: 0;
  line-height: 47px;
  font-size: 40px;
  text-align: center;
  a {
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}
