@import '../../../styles/variables.scss';

.page {
  .search {
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 44px;
    }    
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 37px;
      margin-right: 37px;
      height: 46px;
      font-size: 16px;
      transition: all 0.2s ease;
      a {
        text-decoration: none;
        color: $blue;
        transition: all 0.2s ease;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid $blue;
        }
      }
    }
  }
  .search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-top: 45px;
    margin-left: -2px;
    border: 2px solid $dark;
  }
  .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 35px;
    background: $blue;
    border-radius: 5px;
    .top {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 20px;
      p {
        font-size: 22px;
      }
    }
    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      margin-top: 100px;
      p {
        font-size: 18px;
      }
      .bold {
        font-weight: 700;
        text-align: center;
      }
    }
  }
}
  
  