@import '../../../styles/variables.scss';

.search {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .search {
    width: 100%;
  }
}