@import '../../../styles/variables.scss';

.search {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 44px;
  }    
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 37px;
    margin-right: 37px;
    height: 46px;
    font-size: 16px;
    transition: all 0.2s ease;
    a {
      text-decoration: none;
      color: $blue;
      transition: all 0.2s ease;
      margin-left: 5px;
      margin-right: 5px;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $blue;
      }
    }
  }
}
.search_btn {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-left: -2px;
  border: 2px solid $dark;
}