.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
  }
}
.container_top {
  justify-content: flex-start;
  .main {
    padding-top: 100px;
  }
}

