.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
  }
}
.container_top {
  justify-content: flex-start;
  .main {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .container {
    .main {
      width: 90%;
    }
  }
  .container_top {
    .main {
      width: 90%;
      padding-top: 70px;
    }
  }
}
