@import '../../../styles/variables.scss';

.google {
  display: flex;
  background-color: $ultra-white;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 300px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  border: 2px solid $dark;
  position: relative;
  transition: all 0.2s ease;
  font-weight: 700;
  &:hover {
    opacity: 0.75;
  }  
  .icon {
    position: absolute;
    left: 20px;
    top: 13px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 575px) {
  .google {
   width: 220px;
   height: 50px;
   font-size: 14px;
   .icon {
    left: 13px;
    top: 10px;
    width: 25px;
    height: 25px;
   }
  }
}
